[Unit]
Description=Creates backup copies of the database
After=multi-user.target

[Service]
ExecStart=/usr/bin/bash /srv/Database/run.sh /srv/Database/build
Type=simple

[Install]
WantedBy=multi-user.target
